*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

header{
    background-color: #2c3e50;
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
}

section{
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
